{{ define "title"}} {{ .Title}} {{end}}
{{ define "header"}} {{ partial "header" .}} {{end}}

{{ define "main" }}

<div id="hero" class="wrap">
  <h1>My thoughts and work</h1>
    <p>Most of my work utilizes the R programming language, and to a lesser extent D3 and SQL.</p>
</div>
<ul id="posts">

 {{ range .Paginator.Pages.ByWeight }} {{ partial "page-summary" . }} {{ end }}
  <section>{{ partial "pagination" .}}</section>
</ul>

{{ end }} 
{{ define "footer" }} 
  {{ partial "footer" . }} 
{{ end }}
